* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pregunta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pregunta label {
  width: 95px;
}

.input {
  padding: 5px 6px;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 2px gray;
  background-color: #f2f2f2;
  flex: 1;
}

.aviso {
  color: white;
  background-color: red;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8em;
}

.resumen {
  color: white;
  background-color: green;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 3px;
  display: inline-block;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
